# table_name:
#   column_name: masked_value

users:
  string: anonymized string
  email: anonymized+%{n}@example.com # %{n} will be replaced with sequential number
  integer: 12345
  float: 123.45
  boolean: true
  null: null
  date: 2018-08-24
  time: 2018-08-24 15:54:06
